$mainWhite: #ffffff;
$mainlightBg: #f5f9fe;
$mainText: #424767;
$mainBlack: #0d1b48 !default;
$mainRed: #c33c54;
$mainRedHover: #c3354f;
$mainBlue: #0d1b48;
$gridGutter: 30px;
$gridColumns: 12;
$spacingCount: 6;
$caret-width: 0.3em;
$caret-vertical-align: $caret-width * 0.85;
$caret-spacing: $caret-width * 0.85;

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);